@page "/blogposts"
@inject BlogPostSummaryService service
@inject NavigationManager navigationManager
<PageTitle>Blog posts</PageTitle>
<h1>Blog Posts</h1>
@if (service.Summaries is null) {
	<div>Loading...</div>
}
else {
	foreach (var blogPostSummary in service.Summaries.OrderByDescending(bps => bps.PublishedDate)) {
		<BlogPostSummary Summary="@blogPostSummary" />
		@*		<article @onclick="()=>Navigate(blogPostSummary.Id,blogPostSummary.Author)">
			<h2>@blogPostSummary.Title</h2>
			<div>
				@foreach (var tag in blogPostSummary.Tags) {
					<em>@tag, </em>
					<div>
						@((MarkupString)Markdown.ToHtml(blogPostSummary.BlogPostMarkdown))
					</div>
				}
			</div>
		</article>
*@
	}
}

@code {
	protected override async Task OnInitializedAsync()
	{
		await service.LoadBlogPostSummaries();
	}
	void Navigate(Guid id, string author) => navigationManager.NavigateTo($"/blogposts/{author}/{id}");
}
